<meta charset="UTF-8">
<div class="modal fade"  tabindex="-1" id="deleteModal"	role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-body">Deletar funcionário?</div>
			<div class="modal-footer">
				<button class="btn btn-secondary" type="button" data-dismiss="modal">Cancelar</button>
				<button type="button"  id="btn-delete-modal" class="btn btn-primary">Deletar</button>
			</div>
		</div>
	</div>
</div>
