<meta charset="UTF-8">
<div class="modal fade myForm" id="editModal" tabindex="-1"
	role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Editar funcionário</h5>
				<button type="button" class="close" data-dismiss="modal"
					aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				<div class="form-group">
					<input type="text" class="form-control"
						id="edt_funcionarioid" readonly>
				</div>
				<div class="form-group">
					<label for="recipient-name" class="col-form-label">Nome:</label> 
					<input type="text" name="nomeCompleto" class="form-control"	id="edt_nomeCompleto">
					<div id="error-nomeCompleto"></div>
				</div>
				<div class="form-group">
					<label for="recipient-name" class="col-form-label">CPF:</label> 
					<input name="cpf" type="text" class="form-control" id="edt_cpf">
					<div id="error-cpf"></div>
				</div>
				<div class="form-group">
					<label for="funcaoEdit" class="col-form-label">Função:</label> 
					<select	id="edt_funcao" name="funcao" class="form-control">
						<option value="">Selecione</option>
						<option th:each="f : ${funcao}" th:text="${f.nomeFuncao}"
							th:value="${f.funcaoid}">...</option>
					</select>
					<div id="error-funcao"></div>
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
				<button id="btn-edit-modal" class="btn btn-primary">Confirmar</button>
			</div>
		</div>
	</div>
</div>

