<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml">

<th:block th:include="fragments/header"></th:block>
<body id="page-top">
	<div id="wrapper">
		<th:block th:include="fragments/sidebarLeft"></th:block>
		<!-- Content Wrapper -->
		<div id="content-wrapper" class="d-flex flex-column">
			<!-- Main Content -->
			<div id="content">
				<th:block th:include="fragments/navbar"></th:block>
				<!-- Begin Page Content -->
				<div class="container-fluid">
					<!-- Page Heading -->
					<th:block th:include="principal/cadastro"></th:block>
					<!-- Content Row -->
					<div class="row">
						<th:block th:include="principal/lista"></th:block>
						<th:block th:include="principal/grafico"></th:block>
					</div>
				</div>
				<!-- /.container-fluid -->
			</div>
			<!-- End of Main Content -->
			<!-- Footer -->
			<th:block th:include="fragments/footer"></th:block>
			<!-- End of Footer -->
		</div>
		<!-- End of Content Wrapper -->
	</div>
	<!-- End of Page Wrapper -->
	<!-- Modal Edit -->
	<th:block th:include="fragments/scripts"></th:block>
</body>
</html>